.main_butts {
 font-family: 'Times New Roman', Times, serif;
 font-size: 30px;
 display: inline-flex;
 flex-direction: column;
 align-items: center;
 padding: 10px 0 0 0;
 width: 250px;
 height: 250px; 
 margin: 10px;
}

body {
 display: flex;
 flex-direction: column;
 gap: 0px;
 margin: 0px;
 background-image: url("/Assets/bg.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

body::before {
 content: "";
 position: fixed;
 inset: 0;
 background-image: var(--hov_bg, url(/Assets/bg.jpg));
 opacity: var(--op, 0);
 transition: opacity .5s ease;
 pointer-events: none;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 z-index: -2;
}

.header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: aqua;
 padding: 0 1rem 0 1rem;
 margin: 0px;
 border: 0px;
 gap: 20px;
}

#PFP {
 border-radius: 100%;
 width: 100%;
 height: 100%;
 display: block;
 object-fit: cover;
}

#HLP {
 align-items: center;
 border-radius: 100%;
 width: 100%;
 height: 100%;
 display: block;
 object-fit: cover;
}


.topT,.topM{
 display: flex;
 gap: 1.5rem;
 justify-content: center;
 align-items: center;
 margin: 0px;
}

.Welcome{
 font-family: 'Montserrat', sans-serif;
 font-size: 4em;
 font-weight: 1000;
}

.topT{
 margin-top: 1.5rem;
 margin-bottom: 3rem;
 white-space: nowrap;
}

.middle{
 background-color: rgba(247, 244, 244, 0.67);
 margin: 0 auto;
 margin-top: 1rem;
 justify-content: center;
 align-items: center;
 width: fit-content;
 padding: 1rem 2rem;
 border-radius: 1rem;
}

.botM {
 display: flex;
 justify-content: center;
 padding: 2rem 0 0 0;
 white-space: nowrap;   
}

.bot{
 background-color: aqua;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: stretch;
 gap: 6rem;
 margin: 1rem 0 0 0;
 padding: 0;
}

.bot a {
 color: black;
}
.bot a:hover {
 color: rgb(61, 0, 97);
 text-decoration: underline;
}

.help {
 position: relative;
 display: inline-block;
 width: 3rem; 
 height: 3rem;
 aspect-ratio: 1 / 1;

 border-radius: 100%;
 border-color: rgba(0, 0, 0, 0);
 margin: 0;
 padding: 0;

 cursor: pointer;
 background-color: rgba(0, 255, 255, 0);
}

.help:hover {
 background-color: rgba(0, 112, 112, 0.7);
}

.settings {
 position: relative;
 display: inline-block;
 
 width: 3rem; 
 height: 3rem;
 aspect-ratio: 1 / 1;

 margin: 0;
 border-radius: 100%;
 padding: 0;

 cursor: pointer;
}

a {
 text-decoration: none;
}

.butts_in_drop {
 background-color: lightblue;

 font: 1em sans-serif;
 font-size: 1.5rem;
 font-weight: 600;

 display: flex;
 align-items: center;
 gap: 1rem;

 margin: 0.3rem 0 0 0;
 border: 0px
}

.dropM {
 position: absolute;
 right: 0px;
 min-width: 100px;
 padding: 0 0.3rem 0.4rem 0.3rem;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
 background-color: gray;
 opacity: 1;
 pointer-events: all;
}

.dropM.hidden {
 opacity: 0;
 pointer-events: none;
}

.dropM button:hover{
 background-color: blue;
}

.dropH.hidden {
 opacity: 0;
 pointer-events: none;
}

.dropH {
 position: absolute;
 right: 0px;
 min-width: 120px;
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
 background-color: gray;
 opacity: 1;
 pointer-events: all;
}

#helper {
 background-color: azure;
 font-size: large;
 font-family: Georgia, 'Times New Roman', Times, serif;
 
 margin: 0.3rem 0.5rem;
 padding: 0rem 0.5rem;
 justify-content: center;
}